.belowHeader{
    margin-top: 30px;
}

.belowHeaderTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.belowHeaderTitleSm{
    
    position: absolute;
    top: 18%;
    font-size: 20px;
}
.belowHeaderTitleLg{
    
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.belowHeaderImg{
    width: 100%;
    height: 450px;
    margin-top: 110px;
    object-fit: cover;
}